//COLORS

$color_primary: #FF6464; // red
$color_secondry: #00A8CC; // blue
$color_pale_dark_blue: #21243D; // pale dark blue
$color_gray: #8695A4; // gray
$color_white: #FFFFFF; // white
$color_black: #000000; // black
$color_dark_blue: #142850; // dark blue:
$color_light: #EDF7FA; // light color
$color_bg: #E5E5E5; //bg
